<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wox</title>
    <script src="http://cdn.bootcss.com/marked/0.3.5/marked.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    </style>
</head>
<body>
<div id="readme" class="markdown-body">

</div>
</body>

<script type="text/javascript">
    function load_readme() {
        var readme = "https://raw.githubusercontent.com/Wox-launcher/Wox/master/README.md";
        $.get(readme, function (data) {
            marked.setOptions({
                gfm: true,
                tables: true,
            });
            var m = marked(data);
            $("#readme").html(m);
            console.log("downloaded")
        });
    }
    $(document).ready(load_readme())
</script>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="../static/github-markdown.css">

</html>